{% extends 'base.html' %}
{% block title %} Fifth Lesson {% endblock %}
{% block content %} Бишенче дәрес {% endblock %}
{% block content1 %} Минем песием бар. Мин аны бик яратам.
        Аңа ун ай. Ул бик акыллы һәм хәйләкәр.
        Ул кара һәм ак төстә. Аның муены ак,
        шуңа күрә аның исеме Акмуен. Аның
        аяклары көчле, койрыгы озын, йомшак,
        колаклары кечкенә, күзләре яшел төстә.
        Ул гел битен, тәпиен юа, шуңа күрә ул бик
        чиста. Акмуен тәмле ашый, күп йоклый. Ул бик
        күп уйный.
        Ул мине бик ярата һәм тыңлый. Минем белән
        ул дәрес тә әзерли, телевизор да карый. Ул
        мультфильмнар ярата.
        Акмуен тиз йөгерә. Җәй көне бакчада тычкан
        тота. Аны әнием дә, әтием дә бик яраталар. {% endblock %}
{% block content2 %} У меня есть котенок. Я его очень люблю. Ему 10 месяцев. Он очень умный и хитрый. Он черного и белого цвета. У него шея белая, и поэтому его зовут Акмуен(Белая Шея). У него сильные лапы, длинный мягкий хвост, маленькие ушки, глаза зеленого цвета. Он все время моет мордочку, лапки, поэтому он очень чистый. Акмуен вкусно кушает, много спит. Он очень много играет.
    Он меня очень любит и слушает. Со мной он и уроки делает, и телевизор смотрит. Он любит мультфильмы. Акмуен быстро бегает. Летом ловит мышей в огороде. Его сильно любят и мама, и папа.  {% endblock %}
