{% extends 'base.html' %}
{% block title %} Fourth Lesson {% endblock %}
{% block content %} Дүртенче дәрес {% endblock %}
{% block content1 %} 8 нче Март – яз бәйрәме, әниләр бәйрәме, 
        әбиләр бәйрәме, кызлар бәйрәме!
        Бу көнне һәркем бүләк әзерли.
        Балалар – әниләргә, әбиләргә,
        апаларга, әтиләр – әниләргә,
        малайлар кызларга бүләк бирә.
        Бүләк төрле була. Энә дә бүләк, дөя дә бүләк,
        диләр (говорят).
        Мин әнигә булышам: гөлләргә су сибәм, савыт-
        саба юам. «Бу зур бүләк!» – ди әни. Әни белән
        табын әзерлибез – бу да зур бүләк. Котлау язу да
        бик зур бүләк. Мин әнигә менә нинди котлау яздым:
        «Кадерле әнием!
        Сине 8 нче Март бәйрәме белән котлыйм! Сиңа
        озын гомер, сәламәтлек, шатлык, зур уңышлар телим!
        Улың Самат». {% endblock %}
{% block content2 %} 8 марта - весенний праздник, праздник для мам, бабушек, дочерей! 
        В этот день все готовят подарки. Дети - мамам, бабушкам, тетям; 
        папы - мамам; парни - девушкам дарят подарки. Подарки бывают разные. 
        И иголка подарок и верблюд подарок, говорят. 
        Я помогаю маме: поливаю цветы, мою посуду. "Это большой подарок!" - 
        говорит мама. С мамой готовим стол - это тоже большой подарок. 
        Писать поздравление - тоже большой подарок. Вот какое поздравление я 
        написал маме: "Дорогая мама, поздравляю тебя с 8 марта! Желаю тебе 
        долгих лет жизни, здоровья, счастья, большой удачи! Твой сын Самат".  {% endblock %}
