<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Second Lesson</title>
</head>
<body>
    <h1>Икенче Дәрес</h1>
    <h3>Татарча</h3>

    <p>Тиздән мәктәптә укулар тәмам-
        лана. Җәй җитә. Көннәр озыная,
        төннәр кыскара. Кояш кыздыра.
        Урманда, болында кошлар сайрый.
        Җәйге каникуллар башлана. Без
        каникулларны яратабыз, чөнки ял
        итәбез.


</p>

    <h3>Русча</h3>

    <p>Скоро в школе завершится учеба. Наступает лето. Дни удлиняются.
        Ночи укорачиваются. Солнце печет. В лесу, в поле поют птицы. 
        Начинаются летние каникулы. Мы любим каникулы, потому что отдыхаем. 
</p>
    
    <li><a href="{{url_for('main_page')}}">Артка</a></li>
</body>
</html>