{% extends 'base.html' %}
{% block title %} Second Lesson {% endblock %}
{% block content %} Икенче дәрес {% endblock %}
{% block content1 %} Тиздән мәктәптә укулар тәмамлана. 
        Җәй җитә. Көннәр озыная,
        төннәр кыскара. Кояш кыздыра.
        Урманда, болында кошлар сайрый.
        Җәйге каникуллар башлана. Без
        каникулларны яратабыз, чөнки ял
        итәбез. {% endblock %}
{% block content2 %} Скоро в школе завершится учеба. Наступает лето. Дни удлиняются.
        Ночи укорачиваются. Солнце печет. В лесу, в поле поют птицы. 
        Начинаются летние каникулы. Мы любим каникулы, потому что отдыхаем.  {% endblock %}
