<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Second Lesson</title>
</head>
<body>
    <h1>Оченче Дәрес</h1>
    <h3>Татарча</h3>

    <p>
        Трамвайда кеше күп иде. Алдагы урыннар ба-
        лалар һәм картлар өчен.
        Илдар да бер урынга
        утырды. Трамвай туктады.
        Вагонга кечкенә бала белән
        бер апа керде. Ул як-ягына
        карады, ләкин буш урын
        күрмәде. Илдар аңа урын
        бирде:
        – Апа, килегез, утырыгыз, – диде. Апа Илдарга
        рәхмәт әйтте.
        – Күр, улым, нинди
        яхшы малай. Улым, син дә
        яхшы малай бул, – диде апа.</p>




    <h3>Русча</h3>

    <p>
        В трамвае много людей. Передние места для детей и пенсионеров. 
        И Ильдар сел на одно место. Трамвай остановился. 
        В вагон зашел маленький ребенок с тетей. Он посмотрел по сторонам, но не увидел свободного места. 
        Ильдар уступил ему место:
        - Тетя, подойдите, садитесь, - сказал. Тетя сказала Ильдару спасибо.
        - Посмотри, сынок, какой хороший мальчик. Сын ты тоже будь хорошим мальчиком, - сказала тетя.</p>
    
    <li><a href="{{url_for('main_page')}}">Артка</a></li>
</body>
</html>