{% extends 'base.html' %}
{% block title %} Third Lesson {% endblock %}
{% block content %} Өченче дәрес {% endblock %}
{% block content1 %} Трамвайда кеше күп иде. Алдагы урыннар балалар һәм картлар өчен.
        Илдар да бер урынга
        утырды. Трамвай туктады.
        Вагонга кечкенә бала белән
        бер апа керде. Ул як-ягына
        карады, ләкин буш урын
        күрмәде. Илдар аңа урын
        бирде:
        – Апа, килегез, утырыгыз, – диде. Апа Илдарга
        рәхмәт әйтте.
        – Күр, улым, нинди
        яхшы малай. Улым, син дә
        яхшы малай бул, – диде апа. {% endblock %}
{% block content2 %} В трамвае много людей. Передние места для детей и пенсионеров. 
        И Ильдар сел на одно место. Трамвай остановился. 
        В вагон зашел маленький ребенок с тетей. Он посмотрел по сторонам, но не увидел свободного места. 
        Ильдар уступил ему место:
        - Тетя, подойдите, садитесь, - сказал. Тетя сказала Ильдару спасибо.
        - Посмотри, сынок, какой хороший мальчик. Сын ты тоже будь хорошим мальчиком, - сказала тетя. {% endblock %}
